.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo{
    display: flex;
}

.heading{
    font-size: 2rem;
}

.nav{
    display: flex;
}

.nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navLinks {
    margin: 0 1rem;
}

.navLinks a {
    text-decoration: none;
    color: black;
}

.active {
    font-weight: bold;
    text-decoration: underline;
}