#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ff6600aa); /* Orange glow */
}

.card {
  padding: 2em;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 8px;
}

.read-the-docs {
  color: #666666;
}
